{% extends "swear_jar/header.html" %}
{% block body %}

<script>
function noteResult(player_id, role) {
  result = "Noted !"
  var td_join = document.getElementById(player_id + '_' + role);
  while (td_join.firstChild) {
    td_join.removeChild(td_join.firstChild)
  }
  td_join.innerHTML = "Done";
}

function changePlayerStatus(player_id, role) {
  var post_request = {'player_id': player_id, 'status': role};
  $.post("{% url 'swear_jar:change_player' %}", post_request, function(data, status, xhr) {
    noteResult(player_id, role);
  })
}

function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$(document).ready(function() {
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        }
            }
    });
});
</script>

<section class="col-sm-12">
  <table class="table table-bordered table-hover table-condensed">
    <caption>Players to join</caption>
    <thead>
      <tr>
        <th>Username</th>
        <th>Join organisation</th>
        <th>Make admin</th>
      </tr>
    </thead>
    <tbody>
  {% for player in players_outside %}
    <tr>
      <td>{% if player.name %} {{ player.name }} {% else %} {{ player.user.username }} {% endif %}</td>
      <td id="{{ player.id }}_inside"> <button onclick="changePlayerStatus({{ player.id }}, 'inside')">Join</button></td>
      <td id="{{ player.id }}_admin"> <button onclick="changePlayerStatus({{ player.id }}, 'admin)">Make admin</button></td>
    </tr>
  {% endfor %}
  {% for player in players_inside %}
    <tr>
      <td>{% if player.name %} {{ player.name }} {% else %} {{ player.user.username }} {% endif %}</td>
      <td>Already joined</td>
      <td id="{{ player.id }}_admin"> <button onclick="changePlayerStatus({{ player.id }}, 'admin')">Make admin</button></td>
    </tr>
  {% endfor %}
     </tbody>
  </table>
</section>

{% endblock %}
