{% extends "swear_jar/header.html" %}
{% block body %}
  <div class="col-lg-8">
    {{ player.name }} has credit {{ player.bank_credit }}
  </div>
  <form action="{% url 'swear_jar:player_bank_paid' %}" method="post" class="col-lg-8">
  {% csrf_token %}
  <label for="amount_paid">Amount</label>
  <input type="number" name="amount_paid" step="0.01" class="form-control">
  <button>Pay bank (virtually)</button>
  </form>
{% endblock %}
