{% extends "swear_jar/header.html" %}
{% block body %}

Search an organisation<br\>

<ul>
  <li>Organisation name: <input type="text" name="organisation_name" /> </li>
</ul>
<button type="submit" id="button_search">Search!</button> 

{% csrf_token %}

<div id='div_orga_search_res'>
  rien
</div>
<script>
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
	// Does this cookie string begin with the name we want?
	if (cookie.substring(0, name.length + 1) == (name + '=')) {
	  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
	}
      }
    }
    return cookieValue;
  }
  var csrftoken = getCookie('csrftoken')

function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

function sameOrigin(url) {
  // test that a given url is a same-origin URL
  // url could be relative or scheme relative or absolute
  var host = document.location.host; // host + port
  var protocol = document.location.protocol;
  var sr_origin = '//' + host;
  var origin = protocol + sr_origin;
  // Allow absolute or scheme relative URLs to same origin
  return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
    // or any other URL that isn't scheme relative or absolute i.e relative.
    !(/^(\/\/|http:|https:).*/.test(url));
}

$.ajaxSetup({
  beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
    // Send the token to same-origin, relative URLs only.
    // Send the token only if the method warrants CSRF protection
    // Using the CSRFToken value acquired earlier
    xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
  }
});


$(document).ready(function(){
  $("button").click(function(){
    alert("sending post request")
    $.post("api/search_organisation", post_request, function(data, status, xhr) {
       alert("Data: " + data + "\nStatus: " + status);
    });
  });
});
</script>
</head>
<body>

  <div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>

  <button>Get External Content</button>

</body>
</html>

<script>
  $(document).ready(function(){
     $("p").click(function(){
        $(this).hide();
     });
  });
</script>
</head>
<body>

  <p>If you click on me, I will disappear.</p>
  <p>Click me away!</p>
  <p>Click me too!</p>
  
<script>
  $(document).ready(function(){
    $("button").click(function() {
        alert("Data: " + data + "\nStatus: " + status);
    });
  });
  /*
  $(document).ready(function(){
    $(".main").on('click', '.button_search', function() {
      $.get("./api/search_organisation", function(data, status){
        alert("Data: " + data + "\nStatus: " + status);
      });
    });
  });
  $(document).ready(function(){
    $("button_search").click(function() {
      $.get("./api/search_organisation", function(data, status){
        alert("Data: " + data + "\nStatus: " + status);
      });
    });
  });
  */
  /*
  var orga_names = get_data_from_api()
  // ['Dolead', 'Maison Gambetta', 'Tata Yoyo']
  div_results = document.getElementById('div_orga_search_res')
  
  var ul = document.createElement('ul')
  var li, button;
  len = orga_names.length
  for (var i=0, i < len; i++) {
      li = document.createElement('li')
      li.appendChild(document.createTextNode(orga_names[i]))
      button = document.createElement('input')
      button.type = "submit"
      button.value = "Join organisation"
      button.id = "button_" + orga_names[i]
      ul.appendChild(button)
      ul.appendChild(li)
  }
  div_results.appendChild(ul)
  */
</script>

{% endblock %}
