{% extends "swear_jar/header.html" %}
{% block body %}


<div class="container">
  {% if organisation %}
    <form action="{% url 'swear_jar:created_player' organisation.id %}" method="post" class="col-lg-4" id="form_create_player">
  {% else %}
    <form action="{% url 'swear_jar:created_player_orgaless' %}" method="post" class="col-lg-4" id="form_create_player">
  {% endif %}
  {% csrf_token %}
    <legend>Create new player {%if organisation %}for {{ organisation.name }} {% endif %}</legend>
    <div class="form-group">
      <label class="col-md-4 control-label">Your username</label>
      <div class="col-md-6  inputGroupContainer">
        <div class="input-group">
          <input name="username" class="form-control"  type="text">
          <span class="glyphicon form-control-feedback"></span>
          <span class="help-block with-errors"></span>
        </div>
      </div>
    </div>
  
  
    <div class="form-group">
      <label class="col-md-4 control-label">Your e-Mail</label>
      <div class="col-md-6  inputGroupContainer">
        <div class="input-group">
          <input name="email" class="form-control"  type="text">
          <span class="glyphicon form-control-feedback"></span>
          <span class="help-block with-errors"></span>
        </div>
      </div>
    </div>
  
  
    <div class="form-group has-feedback">
      <label for="password"  class="col-md-4 control-label">Password</label>
      <div class="col-md-6  inputGroupContainer">
        <div class="input-group">
          <input class="form-control" id="userPw" type="password"
  	   name="password" data-minLength="5"
  	   data-error="some error"
  	   required/>
          <span class="glyphicon form-control-feedback"></span>
          <span class="help-block with-errors"></span>
        </div>
      </div>
    </div>
  
    <div class="form-group has-feedback">
      <label for="confirmPassword"  class="col-md-4 control-label">Confirm password</label>
      <div class="col-md-6  inputGroupContainer">
        <div class="input-group">
          <input class="form-control {$borderColor}" id="userPw2" type="password"
  	       name="confirmPassword" data-match="#confirmPassword" data-minLength="5"
  	       data-match-error="some error 2"
  	       required/>
          <span class="glyphicon form-control-feedback"></span>
          <span class="help-block with-errors"></span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4">
	<button>Create player</button>
      </div>
    </div>
  </form>
</div>


<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>

<script type="text/javascript">

  $(document).ready(function() {
    $('#form_create_player').bootstrapValidator({
      // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
      feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
        fields: {
          username: {
            validators: {
            }
          },
          email: {
            validators: {
              notEmpty: {
                message: 'Please supply your email address'
              },
              emailAddress: {
                message: 'Please supply a valid email address'
              }
            }
          },
          password: {
            validators: {
              identical: {
                field: 'confirmPassword',
                message: 'Confirm your password below - type same password please'
              }
            }
          },
          confirmPassword: {
            validators: {
              identical: {
                field: 'password',
                message: 'The password and its confirm are not the same'
              }
            }
          },
        }
      })


  .on('success.form.bv', function(e) {
    $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
      $('#reg_form').data('bootstrapValidator').resetForm();

      // Prevent form submission
      e.preventDefault();

      // Get the form instance
      var $form = $(e.target);

      // Get the BootstrapValidator instance
      var bv = $form.data('bootstrapValidator');

      // Use Ajax to submit form data
      $.post($form.attr('action'), $form.serialize(), function(result) {
        console.log(result);
      }, 'json');
  });
});

</script>
{% endblock %}
