{% extends "swear_jar/header.html" %}
{% block body %}

<form action="{% url 'swear_jar:created_organisation' %}" method="post" class="col-lg-4">
  {% csrf_token %}
  <legend>Create organisation</legend>
    <div class="form-group">
      <label class="col-md-4 control-label" for="organisation_name">Name of organisation</label>
      <div class="col-md-6  inputGroupContainer">
        <div class="input-group">
          <input type="text" name="organisation_name" class="form-control">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4">
	<button>Create organisation</button>
      </div>
    </div>
</form>

{% endblock %}
