{% extends "swear_jar/header.html" %}
{% block body %}
    <h1>{{ organisation.name }}</h1>
    
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    
    <form action="{% url 'swear_jar:denounce' organisation.id %}" method="post" class="col-lg-8">
    {% csrf_token %}
    {% for player in organisation.player_set.all %}
        <input type="radio" name="player" id="player{{forloop.counter }}" value="{{ player.id }}" />
        <label for="player{{ forloop.counter }}">{{ player.name }}</label> <br/>
    {% endfor %}
    <input type="submit" value="denounce">
    </form>
{% endblock %}
