{% extends "swear_jar/header.html" %}
{% block body %}
<div class="container">
  <form action="{% url 'swear_jar:player_edited' %}" method="post" class="col-lg-4">
  {% csrf_token %}
  
  <legend>User information</legend>
  <div class="form-group has-feedback">
    <label for="name" class="col-md-3 control-label">Display name</label>
    <div class="inputGroupContainer">
      <div class="input-group">
        <input type="text" name="name" class="form-control" placeholder="{{ request.user.player.name }}">
      </div>
    </div>
  </div>
  <div class="form-group has-feedback">
    <label for="name" class="col-md-3 control-label">Email</label>
    <div class="inputGroupContainer">
      <div class="input-group">
        <input type="text" name="email" class="form-control" placeholder="{{ request.user.player.email }}">
      </div>
    </div>
  </div>
    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4">
	<button>Change profile</button>
      </div>
    </div>
  </form>
</div>

<div class="container">
  <form action="{% url 'swear_jar:player_change_password' %}" method="post" class="col-lg-4" id="change_password">
  {% csrf_token %}
  
  <legend>Change password</legend>
  <div class="form-group has-feedback">
    <label for="old" class="col-md-3 control-label">Current password</label>
    <div class="inputGroupContainer">
      <div class="input-group">
        <input type="password" name="old" class="form-control" placeholder="Current password">
      </div>
    </div>
  </div>
  
  <div class="form-group has-feedback">
    <label for="password"  class="col-md-3 control-label">New password</label>
    <div class="inputGroupContainer">
      <div class="input-group">
        <input class="form-control" id="userPw" type="password" placeholder="password"
     name="password_new" data-minLength="5"
     data-error="some error"
     required/>
        <span class="glyphicon form-control-feedback"></span>
        <span class="help-block with-errors"></span>
      </div>
    </div>
  </div>
  
  <div class="form-group has-feedback">
    <label for="confirmPassword"  class="col-md-3 control-label">Confirm Password</label>
    <div class="inputGroupContainer">
      <div class="input-group">
        <input class="form-control {$borderColor}" id="userPw2" type="password" placeholder="Confirm password"
         name="password_repeat" data-match="#confirmPassword" data-minLength="5"
         data-match-error="some error 2"
         required/>
        <span class="glyphicon form-control-feedback"></span>
        <span class="help-block with-errors"></span>
      </div>
    </div>
  </div>
    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4">
	<button>Change password</button>
      </div>
    </div>
  </form>
</div>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>

<script type="text/javascript">

  $(document).ready(function() {
    $('#change_password').bootstrapValidator({
      // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
      feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
        fields: {
          password_repeat: {
            validators: {
              identical: {
                field: 'password_new',
                message: 'The password and its confirm are not the same'
              }
            }
          },
          password_new: {
            validators: {
              identical: {
                field: 'password_repeat',
                message: 'Confirm your password below - type same password please'
              }
            }
          },
        }
      })


  .on('success.form.bv', function(e) {
    $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
      $('#reg_form').data('bootstrapValidator').resetForm();

      // Prevent form submission
      e.preventDefault();

      // Get the form instance
      var $form = $(e.target);

      // Get the BootstrapValidator instance
      var bv = $form.data('bootstrapValidator');

      // Use Ajax to submit form data
      $.post($form.attr('action'), $form.serialize(), function(result) {
        console.log(result);
      }, 'json');
  });
});

  </script>
{% endblock %}
