{% if recent_organisations %}
    <ul>
      {% for orga in recent_organisations  %}
         <li><a href="{% url 'swear_jar:detail' orga.id %}"> {{ orga.name }}</a></li>
      {% endfor %}
    </ul>
{% else %}
    <p>No organisation joined swear_jar :-( </p>
{% endif %}
    
