{% extends "swear_jar/header.html" %}
{% block body %}

<div class="container">
  SwearJar can only be played in groups. You can either:
  <ul class="list-unstyled">
    <li><a href="{% url 'swear_jar:search_organisation' %}">Join an existing group</a>
    <li>or
    <li><a href="{% url 'swear_jar:create_organisation' %}">Create a new group</a>
  </ul>
</div>

{% endblock %}
