{% extends "swear_jar/header.html" %}
{% block body %}

<div class="row">
  <div class="container col-lg-6">
    {% include "javascript/graphs.html" %}
  </div>
  <div class="container col-lg-6">
    {% include "forms/denounce.html" %}
  </div>
  <div class="container col-lg-6">
    {% include "forms/regroup_swear.html" %}
  </div>
</div>

{% endblock %}
