{% extends "swear_jar/header.html" %}
{% block body %}

<script>
function noteResult(report_id, is_accepted) {
  if (is_accepted) {
    result = "Noted !"
    parent_class = "success"
  } else {
    result = "Rejected !"
    parent_class = "danger"
  }
  var td_join = document.getElementById("join_" + report_id);
  $("#reject_" + report_id).remove();
  td_join.colSpan = "2";
  td_join.innerHTML = result;
  td_join.onclick = ""
  td_join.style = "text-align:center"
  td_join.parentElement.classList.add(parent_class)

}
function curseAccept(report_id) {
  var post_request = {'reported_curse_id': report_id};
  $.post("{% url 'swear_jar:api_accept_curse' %}", post_request, function(data, status, xhr) {
    noteResult(report_id, true);
  })
}

function curseReject(report_id) {
  var post_request = {'reported_curse_id': report_id};
  $.post("{% url 'swear_jar:api_reject_curse' %}", post_request, function(data, status, xhr) {
    noteResult(report_id, false);
  })
}

function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$(document).ready(function() {
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        }
            }
    });
});
</script>

<section class="col-sm-12">
  <table class="table table-bordered table-hover table-condensed">
    <caption>Reported curses on {{ player.name }}</caption>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Reporter name</th>
        <th>curse</th>
        <th>Time</th>
        <th>Context</th>
      </tr>
    </thead>
    <tbody>
  {% for curse in curses.all %}
    <tr>
	<td id="join_{{ curse.id }}"> <button onclick="curseAccept({{ curse.id }})">accept</button></td>
	<td id="reject_{{ curse.id }}"> <button onclick="curseReject({{ curse.id }})">reject</button></td>
      <td>{{ curse.reporter.name }}</td>
      <td>{{ curse.curse }}</td>
      <td>{{ curse.created_at }}</td>
      <td>{{ curse.context }}</td>
    </tr>
  {% endfor %}
     </tbody>
  </table>
</section>

{% endblock %}
