{% extends "swear_jar/header.html" %}
{% block body %}
<div class="col-sm-6">
  <table class="table table-bordered table-hover table-condensed">
    <caption>Curses in {{ organisation.name }}</caption>
    <thead>
      <tr>
        <th>Player name</th>
        <th>#Curses</th>
        <th>Bank account</th>
      </tr>
    </thead>
    <tbody>
  {% for player in organisation.player_set.all %}
    <tr>
      <td>{{ player.name }}</td>
      <td>{{ player.curse_set.count }}</td>
      <td>{{ player.bank_credit }}</td>
    </tr>
  {% endfor %}
  </table>
</div>
<div class="col-sm-12">
SwearJar of {{ organisation.name }} should contain {{ bank_orga_theo }} euros. It currently has {{ bank_orga }} euros.
</div>


{% endblock %}
