{% extends "swear_jar/header.html" %}
{% block body %}

<form class="col-lg-4">
  <legend>Search organisation</legend>
  <label for="organisation_name">Name</label>
  <input type="text" name="organisation_name" class="form-control" id="input_orga_name">
  <button id="button_search" onclick="javascript:searchOrganisation();return false;">Search!</button>
</form>

{% csrf_token %}

<section class="col-sm-12">
  <table id="table_search" class="table table-bordered table-hover table-condensed">
  </table>
</section>

<script>
function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}


$(document).ready(function() {
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        }
            }
    });
});

function joinOrganisation(organisation_id, object) {
  $.post("../api/join_organisation/" + organisation_id, function(data, status, xhr) {
    object.innerHTML = "Joined !"
  })
}
  
var link_join_organisation = "{% url 'swear_jar:create_player' 12345 %}";

function tableCreate(organisation, table) {
  table.setAttribute('border', '1');
  var body_table = document.createElement('tbody');
  var tr = document.createElement('tr');
  var td = document.createElement('td');
  td.appendChild(document.createTextNode(organisation['name']))
  tr.appendChild(td)
  var td = document.createElement('td');
  var form = document.createElement('form');
  form.action = link_join_organisation.replace("/12345/", "/" + organisation['id'] + "/")
  var button = document.createElement('button')
  button.appendChild(document.createTextNode("Join"))
  form.appendChild(button)
  td.appendChild(form)
  tr.appendChild(td)
  body_table.appendChild(tr);
  table.appendChild(body_table);
};

function tableSetHeader(table){
  var legend = document.createElement('caption');
  legend.appendChild(document.createTextNode("Matching organisations"))
  table.appendChild(legend);

  var thead = document.createElement('thead');
  var header = document.createElement('tr');

  var field = document.createElement('th');
  field.appendChild(document.createTextNode("Name"))
  header.appendChild(field)

  var field = document.createElement('th');
  field.appendChild(document.createTextNode("Action"))
  header.appendChild(field)

  thead.appendChild(header)
  table.appendChild(thead)
};

function searchOrganisation() {
 var post_request = {'orga_name': document.getElementById('input_orga_name').value};
 $.post("{% url 'swear_jar:api_search_orga' %}", post_request, function(data, status, xhr) {
     var nb_orga = data.length;
     table_result = document.getElementById('table_search')
     table_result.innerHTML = "";
     tableSetHeader(table_result);
     for (var i=0; i < nb_orga; i++) {
        tableCreate(data[i], table_result);
     }
 });
}
</script>

{% endblock %}
