{% include "swear_jar/am_chart_header.html" %}
<!-- Chart curse by week -->
<!-- Chart curse count -->
<script src="https://www.amcharts.com/lib/3/pie.js"></script>

<script>
  var chartWeeklyData = {{ data_weekly|safe }};

  var chartDaily;

  var chartDailyData = {{ data_daily|safe }};

  AmCharts.ready(function () {
    // --- Weekly graph ---
    var chartWeekly = AmCharts.makeChart("chart_week_div", {
       "balloon":{
         "fixedPosition":true
       },
       "categoryAxis": {
         "gridCount": chartWeeklyData.length,
         "gridPosition": "start",
         "title": "Week",
       },
       "categoryField": "week",
       "dataProvider": chartWeeklyData,
       "export": {
         "enabled": true
       },
       "graphs": [{
         "valueField": "curses",
         "balloonText": "Week [[category]]: <b>[[value]]</b>",
         "bullet": "round",
         "lineThickness": 2,
         "type": "smoothedLine", 
       }],
       "labelText": "[[title]]: [[value]]",
       "titleField": "curse",
       "titles": [{"text": "Number of curses by week"}],
       "type": "serial",
       "valueAxes": [{"title": "Number of curses"}],
    });
    chartWeekly.invalidateSize();


  var chart2 = AmCharts.makeChart("chart_tot_count_div", {
    "type": "pie",
    "theme": "light",
    "titles": [{"text": "Curses count"}],
    "dataProvider": {{ count_curse|safe }},
    "valueField": "number",
    "titleField": "curse",
    "balloon":{
      "fixedPosition":true
    },
    "labelText": "[[title]]: [[value]]",
    "export": {
      "enabled": true
    },
    "startDuration": 0
} );
   chart2.invalidateSize();
 
    // --- Daily graph ---
    // SERIAL CHART
    var chartDaily = AmCharts.makeChart("chart_weekday_div", {
       "balloon":{
         "fixedPosition":true
       },
       "categoryAxis": {
         "gridCount": chartDailyData.length,
         "gridPosition": "start",
         "title": "Weekday",
       },
       "categoryField": "weekday",
       "dataProvider": chartDailyData,
       "export": {
         "enabled": true
       },
       "graphs": [{
         "valueField": "curses",
         "balloonText": "Day [[category]]: <b>[[value]]</b>",
         "bullet": "round",
         "lineThickness": 2,
         "type": "smoothedLine", 
       }],
       "labelText": "[[title]]: [[value]]",
       "titleField": "curse",
       "titles": [{"text": "Number of curses by Weekday"}],
       "type": "serial",
       "valueAxes": [{"title": "Number of curses"}],
    });
  
    // AXES
    chartDaily.invalidateSize();
  });
  
</script>
<div id="chart_week_div" class="col-lg-4" style="width:500px;height:300px;"></div>
<div id="chart_tot_count_div" class="col-lg-4" style="width:500px;height:300px;"></div>
<div id="chart_weekday_div" class="col-lg-4" style="width:500px;height:300px;"></div>
