<div class="container">
  <form action="{% url 'swear_jar:denounced_curse' %}" method="post" class="col-lg-6 col-md-6">
  {% csrf_token %}
  
  <legend>Who said what in {{ organisation.name }}</legend>
    <div class="form-group">
      <div class="container">
        <label class="col-md-2 control-label">Who ?</label>
      </div>
      <div class="container">
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group col-md-6 col-lg-6">
            <select name="player_id" class="form-control">
              {% for player in organisation.player_set.all %}
                <option value={{ player.id }}{% if player.id == request.user.player.id %} selected="selected"{% endif %}>{{ player.user.username }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="container">
        <label class="col-md-2 control-label">Said what ?</label>
      </div>
      <div class="container">
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group col-md-6 col-lg-6">
        	  <input type="text" name="curse_text" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="container">
        <label class="col-md-2 control-label">Which context ?</label>
      </div>
      <div class="container">
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group col-md-6 col-lg-6">
        	  <input type="text" name="curse_context" class="form-control" placeholder="(optional)">
          </div>
        </div>
      </div>
    </div>
      <div class="form-group">
        <label class="col-md-6 control-label"></label>
        <div class="col-md-6">
  	  <button>Denounce curse</button>
        </div>
      </div>
  </form>
</div>
