<div class="container">
  <form action="{% url 'swear_jar:regroup_curse' %}" method="post" class="col-lg-6 col-md-6">
  {% csrf_token %}
  
  <legend>Change curse spelling</legend>
    <div class="form-group">
      <div class="container">
        <label class="col-md-2 control-label">Curse old spelling</label>
      </div>
      <div class="container">
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group col-md-6 col-lg-6">
            <select name="curse_old" class="form-control">
              {% for curse_text in curse_set %}
                <option value="{{ curse_text }}">{{ curse_text }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="container">
        <label class="col-md-2 control-label">New spelling</label>
      </div>
      <div class="container">
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group col-md-6 col-lg-6">
        	  <input type="text" name="curse_new" class="form-control">
          </div>
        </div>
      </div>
    </div>
    </div>
      <div class="form-group">
        <label class="col-md-6 control-label"></label>
        <div class="col-md-6">
  	  <button>Change curse</button>
        </div>
      </div>
  </form>
</div>
